
.root {-fx-background-image: url("file/background3.jpg");}

.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #0E1D33;
}
.txt {
	-fx-text-fill: #2A5088;
}



.pane{
   -fx-background-image: url('file/background.jpg');
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}

